<p>A sprint is a 7-day period, starting every Monday, which defines the work the team can complete.</p>
<% if current_admin_user.employee? %>
<p><strong>As a developer, you are only shown tickets assigned to you.</strong></p>
<% end %>
<p><strong>Tip:</strong> Use the &quot;Filters&quot; sidebar to get just the data you want.</p>