<div class="sidebar right">
	<div class="widget contacts">		
		<h2>Contact Information</h2>
		<ul>
			<li>
				<strong>Email</strong>
				<p><a href="mailto:support@sprintapp.com">support@sprintapp.com</a></p>
			</li>
			<li>
				<strong>Location</strong>
				<p>
			Knoxville, TN 37912</p>
			<p><a target="_blank" href="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=+&amp;q=knoxville,+tn&amp;ie=UTF8&amp;hq=&amp;hnear=Knoxville,+Knox,+Tennessee&amp;t=m&amp;z=11&amp;vpsrc=0&amp;iwloc=A" class="link-btn">View Map</a></p>
			</li>
			<li>
				<strong>Other Holdings</strong>
				<p>
					<a target="_blank" href="http://www.matt-brewer.com">www.matt-brewer.com</a><br>
					<a target="_blank" href="http://www.tipcounterapp.com">www.tipcounterapp.com</a><br>
					<a target="_blank" href="http://www.macfanatic.net/blog">www.macfanatic.net</a><br>
				</p>
			</li>
		</ul>			
	</div>
</div>