pg: &pg
  adapter: postgresql
  encoding: unicode
  pool: 5

development:
  <<: *pg
  database: sprint_app_development

test:
  <<: *pg
  database: sprint_app_test
  user: postgres

cucumber:
  <<: *pg
  database: sprint_app_cucumber
