.project-milestone {
	h3.milestone {
		padding-bottom:3px;
		border-bottom:1px solid #333;
		margin-top:40px;
	}
}

#roadmap-budget-numbers {
	float:right;
}

#roadmap-title-info {
	float:left;
}

.roadmap {
	
	.sidebar_section .attributes_table th {
		width:auto;
	}
	
}